<h1 class="ui header"><%= @list.name %></h1>
<%= link_to "New Task", new_list_task_path(@list), class: "ui small green button" %>
<div class="ui divider"></div>

<div class="ui three column grid">
  <% @tasks.each do |task| %>
    <div class="column">
      <div class="ui fluid card">
        <div class="content">
          <div class="header"><%= task.name %></div>
          <div class="meta">Priority: <%= task.priority %></div>
        </div>
        <div class="content">
          <div class="description"><%= task.description %></div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
              <%= link_to 'Edit', edit_list_task_path(@list, task), class: "ui blue button" %>
              <%= link_to 'Delete', list_task_path(@list, task), method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>